<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi studente</title>
</head>
<body>

	<h1>Gestione Studenti</h1>
	<div class="container">
		<div class="header-section">Aggiungi un nuovo studente</div><br>
		<form action="#" th:action="@{/aggiungiStudente}" th:object="${studente}"
			method="post">
			<div class="item-form">Numero ordine:</div>
			<input type="text" th:field="*{numeroOrdine}" id="numeroOrdine">
	
			<div> <input type="submit" value="Aggiungi ordine"> </div>

		</form>
	</div>


</body>
</html>