<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Segreteria Studenti Università Atlantide</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<center>

<h1>SELEZIONA LA GESTIONE </h1><br>
<h2><a href="https://www.aranzulla.it/come-centrare-il-testo-html-33705.html#:~:text=Tutto%20quello%20che%20devi%20fare,l'uso%20della%20formattazione%20centrata.">Gestione Studenti</a></h1><br>
<h2><a href="http://localhost:8080/stampamenu">Gestione Corsi</a></h1><br>


<div class="footer">
		<p>copyright &copy; Università Atlantide</p>
	</div>


</center>
	

</body>
</html>
